{% extends 'basebase.html' %}
{% load staticfiles %}
{% block container %}

<div class="content-body">
	<div class="container">
		<div class="row">
			<main class="col-md-12">
				<h1 class="page-title">About Me</h1>
				<article class="post">
					<div class="entry-content clearfix">
						<figure class="img-responsive-center">
							<img class="img-responsive" src="{% static 'blog/img/about.jpg' %}" alt="Developer Image">
						</figure>
						<h3 style="text-align:center">长的丑不说，游戏也打的菜，声音也难听，完全就是死肥宅.jpg</h3>
						<div style="text-align:center">
								<h2>过去</h2>
								<p>2018年4月3日 开始学Django</p>
								<p>2018年4月5日 第一次自己搭建博客</p>
								<p>2018年4月6日 完成基本功能</p>
								<p>......</p>
								<p>......</p>
								<h2>将来</h2>
								<p>退役(0/1)</p>
								<p>毕业(0/1)</p>
								<p>月收入(/????)</p>
								<p>攒钱(/????)</p>
								<p>找到女朋友(0/1)</p>
								<p></p>
						</div>
						
						<div class="height-40px"></div>
						<h2 class="title text-center">Social</h2>
						<ul class="social">
							<li class="facebook"><a href="#"><span class="ion-social-facebook"></span></a></li>
							<li class="twitter"><a href="#"><span class="ion-social-twitter"></span></a></li>
							<li class="google-plus"><a href="#"><span class="ion-social-googleplus"></span></a></li>
							<li class="tumblr"><a href="#"><span class="ion-social-tumblr"></span></a></li>
						</ul>
					</div>
				</article>
			</main>
		</div>
	</div>
</div>
{% endblock container %}