{% extends "basebase.html" %}
{% load staticfiles %}

{% block container %}
<script src="{% static 'codeeditor/js/ace/ace.js' %}" type="text/javascript"></script>
<script src="{% static 'codeeditor/js/ace/ext-language_tools.js' %}"  type="text/javascript"></script>
<div class="content-body">
	<div class="container">
		<style>     
            #editor{  
                width:70%;  
                height:300px;
                margin: auto;
                left: 0;
                right: 0;
            }  
       </style>  
       <div id="editor"></div>  
       <script> 
            var langTools = ace.require("ace/ext/language_tools"); 
            var editor = ace.edit('editor');  
            editor.setFontSize(16);  
            editor.setTheme("ace/theme/monokai");  
            //var cppMode = ace.require("ace/mode/c_cpp").Mode;
            //editor.session.setMode(new cppMode());
            
            editor.setOptions({  
                enableBasicAutocompletion: false,  
                enableSnippets: true,  
                enableLiveAutocompletion: true  
            });  
            editor.getSession().setMode("ace/mode/c_cpp");  
            
       </script>
	</div>
</div>
{% endblock container %}
